<html>
<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mainengine.js') }}"> </script>
</head>
<body>
Hello, my name is Quan
<br/>
Please enter number 1:<input id="inputNum1" type="text" size="3" maxlength="3" value="1"></input>
<br/>
Please enter number 2:<input id="inputNum2" type="text" size="3" maxlength="3" value="3"></input>
<br/>
The sum of num1 and num2 is <p id="pResult"></p>
</body>
</html>
